:root{
	font-size: 16px;
}
@font-face{
	font-family: "Roboto";
	src: url("roboto.woff2") format("woff2");
}
body{
	font-family: "Roboto";
	margin: 0px;
	padding: 0px;
}
.header-container{
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	background: url("header-section.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #c2c2c2;
	align-items: center;
}
.tech-container{
	display: flex;
	justify-content: center;
	background-color: rgba(160,160,160, .2);
}
h2{text-align:center;}
.tech-interest-container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: rgba(160,160,160, .2);
}
.work-experience-container{
	display: flex;
	background-image: url("work-experience.jpg");
	background-size: cover;
	color: #fff;
	justify-content: center;
}
.work-experience-container h2, p{text-align: center;}
.project-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: rgba(160,160,160, .2);
}
.project{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.project:nth-child(1){
	width: 100%;
	text-align: center;
}

.project img{
	width: 550px;
	border: solid 5px #fff;
	box-shadow: 0px 0px 5px 0px;
}
.section{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.section h1{
	text-align: center;
	color: #fff;
}
.section p{
	text-align: center;
}
.profile-image{
	width: 200px;
	border-radius: 360px;
	
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,.1);
}

ul{
	padding: 0px;
	width: 500px;
	background-color: #fff;
}
.list-head{
	list-style: none;
	background-color: rgb(240,60,0);
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	border: solid 1px rgb(240,60,0);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.list-item{
	list-style: none;
	border-bottom: solid 1px rgba(0,0,0,0.1);
	border-left: solid 1px rgb(240,60,0);
	border-right: solid 1px rgb(240,60,0);
	padding: 8px;
}
.list-item:last-child{
	border-bottom: solid 1px rgb(240,60,0);
}

@media screen and (max-width:767px){
	.tech-interest-container{
		flex-wrap: wrap;
	}
	.tech-interest-container ul{
		width: inherit;
	}
	.project-container{
		justify-content: center;
	}
	.project-container .project img, ul{
		width: 100%;
	}
}